<html>
<head>
  <link rel="stylesheet" href="./updatejob.component.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
  <div class="topsection">
    <label
      style="color: #F69659;margin-left: 700px; text-align: end;font-size: 17px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome
      {{name}}
      ! </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="logout()" style="font-size: 17px; background-color:white;outline: none;border: none;color: #F69659;
            font-family: Verdana, Geneva, Tahoma, sans-serif;cursor: pointer;
            ">Logout</button>
    <div class="image">

    </div>
  </div>
  <div class="LeftPanel">
    <h1
      style="margin-left: 40px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      MY <br>
      <label style="color: #F69659;">DASHBOARD</label>
    </h1>
    <div class="LeftPanelOptions">

      <br><label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;"
        routerLink="/admin" routerLinkActive="activeTab ">HOME</label><br><br><br>
      <label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;"
        routerLink="/history" routerLinkActive="activeTab">HISTORY</label><br>

    </div>
    <!-- <hr style="width: 180px; margin-right: 110px; margin-top: 100px;border:none;background-color:#F69659; height: 1px;">
        <br><br>
    
        <label
          style="margin-left: 25px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          NEED HELP ?</label> <br><br>
    
          <i class='fa fa-phone' style='font-size:20px;color:#F69659;margin-left:30px ;'></i>
    
        <label style="margin-left: 10px;">+91 1234567890</label> <br><br>
    
        <i class="fa fa-envelope" style="font-size:15px;color:#F69659;margin-left: 30px;"></i>
        <label style="margin-left: 10px;">help@arigs.com</label> <br><br>
     -->
     <span>
      <input type="checkbox" id="check">
      <label class="chat-btn" for="check">
        <i class="fa fa-commenting-o comment" (click)="chatClicked()"></i> <i class="fa fa-close close"
          (click)="chatClosed()"></i> </label>
      <div class="wrapper" id="wrapper">
        <div class="header"> <label
            style="margin-left: 80px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 600;">
            ARi BOT ASSISTANT</label>
        </div>
        <iframe
          src='https://webchat.botframework.com/embed/ARI_Chat_Bot?s=OrJObAnesi4.UrqlRm2tyYVzdYFb7Msf3tP0jWajFvO1wU98eDeAc2o'
          style='min-width: 300px; width: 100%; min-height: 500px'></iframe>
      </div>
    </span>
  </div>

  <div class="JobSearch"><br>
    <label>JOB SEARCH</label><br><br>
    <input type="search" placeholder="Search by Keyword"><i style="font-size:15px;margin-left: -1.3em;"
      class="fa">&#xf002;</i>
    <input type="search" placeholder="Search by Preferred Location">
    <input type="button" value="SEARCH">
  </div>

  <div class="BodySection">

     <form [formGroup]="jobupdate"  style="text-align: left;padding-left:5em;" autocomplete="off"> 
      <br><br><br>
      <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          ">Job Position</label>&nbsp;&nbsp;&nbsp;<input type="text" name="position" formControlName='position' [(ngModel)]="currentModel['jobPosition']"
        required="true">
        <!-- {{curentModel['position']}} -->
      <label
        style="margin-left:10em;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Job
        Description</label><br>
      <textarea class="JobDesc" name="jobDescription" formControlName='jobDescription'
      [(ngModel)]="currentModel['jobDesc']"
        style="float:right;margin-right:9em;height:25em;width:210px;" required="true">

          </textarea>
      <br><br>
      <br><br><br>

      <label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Job
        Title</label><input type="text" name="title" style="margin-left:4.6em;width:205px;" formControlName='jobTitle' [(ngModel)]="currentModel['jobName']"
        required="true"><br>

      <br><br><br>

      <label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Reporting<br>
        Manager</label>
      <input type="text" name="reporting_manager" style="margin-left:4.1em;width:210px;"
        formControlName='reportingManager' [(ngModel)]="currentModel['reportingManager']"  required="true"><br><br><br>
      <label>Job Type</label> <select id="tenure" formControlName='jobType'  [(ngModel)]="currentModel['jobType']"
        style="margin-left:4.4em;width:212px;height:35px;" required="true">
        <option selected disabled>Choose Job Type</option>
        <option value="Regular">Regular</option>
        <option value="Premium">Premium</option>
      </select>
      <br>
      <br><br><br>
      <label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Experience<br>(In
        Years)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="number" min="0" max="40" name="experience" formControlName='experience'  [(ngModel)]="currentModel['jobExperience']" required /><br><br><br>
      <label for="isJobOpenToApply" style="margin-left:23em;"> Open To Apply</label>
      &nbsp;&nbsp; <input type="checkbox" id="isJobOpenToApply" name="isJobOpen"
        formControlName="isJobOpen"  [(ngModel)]="currentModel['isJobOpen']">

      <br><br><br><br>

      <input type="reset" style=" font-family: Verdana, Geneva, Tahoma, sans-serif; height: 30px;width: 100px;margin-left:10em;background-color: #F69659;
           color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;" value="CANCEL">

      <button type="submit"  (click)="updatejob(currentModel)" style="font-family: Verdana, Geneva, Tahoma, sans-serif; margin-left:20em;height: 30px;width: 100px;background-color: #F69659;
            color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; ">Update Job</button>


     </form> 


   