<div class="topsection">
  <div class="section3">
    <img src="../../assets/AriLogo.png" style="height:61px ;background-size: 9em;
  background-repeat: no-repeat;margin-top: -8px; ;">
  </div>
  <div class="section1">
    <label style="color: #F69659;font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif">
      Welcome {{name}}!
    </label>
  </div>
  <div class="section2">
    <button (click)="logout()" style="font-size: 18px; background-color:white;outline: none;border: none;color: #F69659;
         font-family: Verdana, Geneva, Tahoma, sans-serif;cursor: pointer;
         ">Logout</button>
  </div>
</div>
<div class="LeftPanel">
  <h1 style="
            margin-left: 40px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
              Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
              sans-serif;
          ">
    MY <br />
    <label style="color: #f69659">DASHBOARD</label>
  </h1>
  <div class="LeftPanelOptions">
    <br><label
      style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; cursor: pointer; "
      routerLink="/admin" routerLinkActive="activeTab">HOME</label><br><br>
    <br><label
      style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;  "
      routerLink="/applications" routerLinkActive="activeTab">APPLICATIONS</label><br><br>
    <br><label
      style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; cursor: pointer;"
      routerLink="/admin-history" routerLinkActive="activeTab">HISTORY</label><br><br>
    <br>
    <label style="
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
              cursor: pointer;
            " routerLink="/role" routerLinkActive="activeTab">ROLE</label>
    <br /><br /><br />
    <label style="
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
              cursor: pointer;
            " routerLink="/department" routerLinkActive="activeTab">DEPARTMENT</label>
  </div>
</div>

<div class="JobSearch"><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 500;
  ">SEARCH</label><br><br>
   <div class="space">
   <input type="search" placeholder="Type Something Here..." [(ngModel)]="filterTerm"><i
     style="font-size:15px;margin-left:1em; font-family: Verdana, Geneva, Tahoma, sans-serif"></i>
   </div>
 </div>

<div class="BodySection">

  <div id="all" class="tabcontent">
    <div class="names">
      <table id="table1">
        <thead>
          <tr style="background-color: #f5f5f5">
            <th style="width: 25%">ROLE ID</th>
            <th style="width: 30%">ROLE NAME</th>
            <th style="width: 30%">ROLE DESC</th>
            <th >
              <button (click)="eyeClicked(0)" style="
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        height: 30px;
                        width: 90px;
                        background-color: #f69659;
                        color: white;
                        border-radius: 2em;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        margin-top: 9px;
                      ">
                Add Role
              </button>
              <!-- The Modal -->
              <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="popupModel"> <b>Add Role</b> &nbsp;
                    <span  id="close" (click)="closeClicked()" class="close">&times;</span>
                  </div>
                 <br>
                 <form [formGroup]="addRole" (ngSubmit)="onSubmit()" style="text-align: left;padding-left:5em;" autocomplete="off"><br>
                  <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Role Name *</label>&nbsp;
                    <input type="text" name="roleName"  formControlName='roleName'  style="height: 30px; width: 200px; margin-left: 20px;" required="true">
                    <br><br>
                      
                  <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Description *</label>
                  <input type="text" name="roleDesc"  formControlName='roleDesc'  style="height: 30px; width: 200px; margin-left: 24px;" required="true"> 
                      
                       <br><br>
                      
                  <input type="reset" style="margin-left:4em; font-family: Verdana, Geneva, Tahoma, sans-serif; height: 30px;width: 100px;background-color: #F69659;
                   color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;" value="Reset">
            
                    <button type="submit" style="margin-left:4em;font-family: Verdana, Geneva, Tahoma, sans-serif;height: 30px;width: 100px;background-color: #F69659;
                    color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; ">ADD</button>
            </form>
            <br>
                  <button style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
              color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; margin-bottom: px;"
                    (click)="closeClicked()">Close</button>
                  &nbsp;
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <br />
        <tbody *ngIf="roleData.length>0;else norecord">
          <tr *ngFor="
            let role of  roleData | filter : filterTerm
                | paginate
                  : {
                      itemsPerPage:pageSize,
                      currentPage: page,
                      totalItems: count
                    };paginate:config,
              let i = index
            ">

            <td>{{role.roleId}} </td>
            <td> {{role.roleName}}</td>
            <td>{{role.roleDesc}}</td>
            

            <td style="text-align:center;padding-top: 9px;">
              <div class="dropdown">
                <button class="dropbtn" ></button>
                <div class="dropdown-content"><br>
                  <button id="myBtn" (click)="eyeClicked2(i)" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;">Update</button>
                  <br><br>
                 <button (click)="onDeleteRole(role.roleId)" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;">Delete</button>
                  <br><br>
                </div>
              </div>
              <!-- model ------------------------------------------------------------>
            <div id="myModals" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <div class="popupModel"> <b>Update Role</b> &nbsp;
                  <span  id="close" (click)="closeClicked2()" class="close">&times;</span>
                </div>
               <br>
               <form [formGroup]="updateRole" (ngSubmit)="onSubmitForm(roleData[sessionIdx].roleId)" style="text-align: left;padding-left:5em;" autocomplete="off"><br>
                <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Role Name *</label>&nbsp;
                  <input type="text"  name="roleName"  formControlName='roleName' ngModel="{{roleData[sessionIdx].roleName}}" style="height: 30px; width: 200px; margin-left: 20px;" required="true" >
                  <br><br>
                
                <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Description *</label>
                <input type="text"  name="roleDesc"  formControlName='roleDesc' ngModel="{{roleData[sessionIdx].roleDesc}}" style="height: 30px; width: 200px; margin-left: 24px;" required="true"> 
                    
                     <br><br>
                    
                <input type="reset" style="margin-left:4em; font-family: Verdana, Geneva, Tahoma, sans-serif; height: 30px;width: 100px;background-color: #F69659;
                 color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;" value="Reset">
          
                  <button type="submit" style="margin-left:4em;font-family: Verdana, Geneva, Tahoma, sans-serif;height: 30px;width: 100px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; ">Update</button>
          </form>
          <br>
                <button style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
            color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; margin-bottom: px;"
                  (click)="closeClicked2()">Close</button>
                &nbsp;
              </div>
            </div>
            <!-- models ending -->
            </td>
          </tr>
        </tbody>
        <ng-template #norecord> No records found! </ng-template>
      </table>
    </div>
  </div>

  <div id="search results" class="tabcontent" style="display: none"></div>
  <div class="d-flex justify-content-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
    </pagination-controls>
    <div class="mt-3">
      <label>Select no of entries : </label>
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
</div>