<html>



 <head>
    <meta charset="utf-8">
    <title>Internal Job Portal</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type = "image/x-icon" href="../../assets/ARi-Icon-modified.png">
    <link rel="stylesheet" href="./hr-dashboard.component.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>




<body>
  <div class="topsection">
    <div class="section3">
    <img src="../../assets/AriLogo.png" style="height:61px ;background-size: 9em;
    background-repeat: no-repeat;margin-top: -8px; ;"></div>
    <div class="section1">
    <label  style="color: #F69659;font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif">
      Welcome {{name}}!
    </label>
  </div>
  <div class="section2">
    <button (click)="logoutbtn()" style="font-size: 18px; background-color:white;outline: none;border: none;color: #F69659;
           font-family: Verdana, Geneva, Tahoma, sans-serif;cursor: pointer;
           ">Logout</button>
  </div>
  </div>
    
  <div class="LeftPanel">
    <h1
      style="margin-left: 40px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
      MY <br>
      <label style="color: #F69659;">DASHBOARD</label>
    </h1>
    <div class="LeftPanelOptions">
     <br><label
        style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; cursor: pointer; "
        routerLink="/admin" routerLinkActive="activeTab">HOME</label><br><br>
      <br><label
        style=" font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;  "
        routerLink="/applications" routerLinkActive="activeTab">APPLICATIONS</label><br><br>
      <br><label
        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; cursor: pointer;"
        routerLink="/admin-history" routerLinkActive="activeTab">HISTORY</label><br><br>
        <br>
    <ng-container *ngIf="role==1">
      <label
      style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; cursor: pointer;"
      routerLink="/role" routerLinkActive="activeTab">ROLE</label><br><br>
      <br><label
      style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;cursor: pointer;"
      routerLink="/department" routerLinkActive="activeTab">DEPARTMENT</label>
    </ng-container>    
      
       
    </div>



   </div>
  <div>
  </div>
  <span>
    <input type="checkbox" id="check">
    <label class="chat-btn" for="check" (click)="chatClicked()">
      <i class="fa fa-commenting-o comment"></i> <i class="fa fa-close close"></i>
    </label>
    <div class="wrapper" id="wrapper">
      <div class="header"> <label
          style="margin-left: 80px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 600;">
          ARi BOT ASSISTANT</label>
      </div>
      <iframe
        src='https://webchat.botframework.com/embed/ARI_Chat_Bot?s=OrJObAnesi4.UrqlRm2tyYVzdYFb7Msf3tP0jWajFvO1wU98eDeAc2o'
        style='min-width: 300px; width: 100%; min-height: 500px'></iframe>
    </div>
  </span>



 <div class="JobSearch"><br>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 500;
   ">SEARCH</label><br><br>
    <div class="space">
    <input type="search" placeholder="Type Something Here..." [(ngModel)]="filterTerm"><i
      style="font-size:15px;margin-left:1em; font-family: Verdana, Geneva, Tahoma, sans-serif"></i>
    </div>
  </div>



 <div class="BodySection"><br>
    <label style="font-weight:normal; margin-left: 11px;margin-top: 7px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 500;
       ">INTERNAL JOB POSTINGS </label>
    <div class="tab">
      <button class="tablinks"
        onclick="
       document.getElementById('all').style.display='block';document.getElementById('saved').style.display='none';document.getElementById('new').style.display='none';document.getElementById('applied').style.display='none';document.getElementById('search results').style.display='none'; ">ALL</button>



     <button class="tablinks"
        onclick="
     document.getElementById('new').style.display='block';document.getElementById('all').style.display='none';document.getElementById('saved').style.display='none';document.getElementById('applied').style.display='none';document.getElementById('search results').style.display='none'; ">DRAFT</button>



     <button class="tablinks"
        onclick="
     document.getElementById('saved').style.display='block';document.getElementById('all').style.display='none';document.getElementById('new').style.display='none';document.getElementById('applied').style.display='none';document.getElementById('search results').style.display='none'; ">START
        SELECTION</button>

        <button class="tablinks"
        onclick="
     document.getElementById('saved').style.display='block';document.getElementById('all').style.display='none';document.getElementById('new').style.display='none';document.getElementById('applied').style.display='none';document.getElementById('search results').style.display='none'; ">IN
        PROGRESS</button>

</div>
    </div>
<div class="line">  
   <div id="all" class="tabcontent">
      <br>
      <div class="names">
        <table id="table1">
          <tr style="background-color:#f5f5f5;">

            <th style="padding-left: 21px ;">JOB ID</th>
            <th>JOB TITLE</th>
            <th>JOB TYPE</th>
            <th> MANAGER</th>
            <th>EXPERIENCE (Yr)</th>
            <th>DATE</th>

           <th style="padding:15px 0 0 20px"><button *ngIf="role==2 || role==1" onclick="location.replace('jobposting')" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 30px;width: 110px;background-color: #F69659;
      color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;">Post New Job</button></th>
    
            <th style="padding:15px 0 0 35px" >
              <button *ngIf="role==1" onclick="location.replace('addmanager')" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 30px;width: 150px;background-color: #F69659;
      color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;">Add Hiring Manager</button>
            </th>

         </tr>
         <tbody *ngIf="jobPosts.length>0;else norecord">
          <tr *ngFor="
          let jobs of  jobPosts |filter:filterTerm
              | paginate
                : {
                    itemsPerPage:pageSize,
                    currentPage: page,
                    totalItems: count
                  };paginate:config,
            let i = index
          ">
          <ng-container *ngIf="jobs.isJobOpen==open">
            <td style="padding-left:33px ;">{{jobs.jobId}}</td>
            <td>{{jobs.jobName}}</td>
           <td>{{jobs.jobType}}</td>
            <td>{{jobs.reportingManager}} </td>
            <td style="padding-left:30px ;">{{jobs.jobExperience}}</td>
            <td>{{jobs.jobDate}}</td>
          <!-- </div> -->
            <td style="text-align: center;padding-top: 10px;">
              <div class="dropdown">
                <button class="dropbtn" ></button>
                <div class="dropdown-content"><br>
                  <button (click)="onGetJobById(jobs.jobId)" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;"
                    routerLink="/updatejob/{{jobs.jobId}}" routerLinkActive="activeTab">Update Job</button>
                  <br><br>



                 <button (click)="onDeleteJob(jobs.jobId)" style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer;">Delete Job</button>
                  <br><br>
                
                  <button (click)="onCloseJob(jobs.jobId)"
                    style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
                  color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; margin-bottom: 25px;">Close
                    Job</button>
                  
                </div>
              </div>
            </td>
            <td style="text-align:left;
            padding-top: 5px;">
              <button class="button" id="myBtn" (click)="eyeClicked(i)"
                style="margin-top: 5px;cursor:pointer;border-radius: 50%;border: none;height:30px;width: 30px;"><i
                  class="fa fa-eye"></i></button>
              <!-- The Modal -->
              <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="popupModel"> <b>JOB DESCRIPTION</b> &nbsp;
                    <span (click)="closeClicked()" id="close" class="close">&times;</span>
                  </div>
                 <br><br>
                  <b class="mr-100">JOB ID :</b>&nbsp;&nbsp;&nbsp; {{jobPosts[sessionIdx].jobId}} <br><br>
                  <b class="mr-100">JOB TITLE :</b>&nbsp;&nbsp;&nbsp; {{jobPosts[sessionIdx].jobName}} <br><br>
                  <b class="mr-100">JOB TYPE :</b>&nbsp;&nbsp;&nbsp; {{jobPosts[sessionIdx].jobType}} <br><br>
                  <b class="mr-100">MANAGER :</b>&nbsp;&nbsp;&nbsp; {{jobPosts[sessionIdx].reportingManager}}
                  <br><br>
                  <b class="mr-100">JOB DESCRIPTION : </b>&nbsp;&nbsp;&nbsp;{{jobPosts[sessionIdx].jobDesc}}
                  <br><br>
                  <b class="mr-100">EXPERIENCE :</b>&nbsp;&nbsp;&nbsp; {{jobPosts[sessionIdx].jobExperience}} <br><br>
                  <button style="font-family: Verdana, Geneva, Tahoma, sans-serif;height: 28px;width: 110px;background-color: #F69659;
              color: white;border-radius: 2em;outline: none;border: none; cursor: pointer; margin-bottom: 25px;"
                    (click)="closeClicked()">Close</button>
                  &nbsp;
                </div>
              </div>
            
              <button style=" margin-left:76px ;margin-top: 5px;border-radius: 50%;border: none;height:30px;width: 30px;"><i
                class="fa fa-address-book-o"></i></button>
        </td>
        </ng-container>
      </tr><br>
    </tbody>
      <ng-template #norecord> No records found! </ng-template>
    </table>
  
  </div>
</div>


<div id="saved" class="tabcontent" style="display:none;">
  <table id="table1">
    <tr style="background-color:#f5f5f5;">
    </tr>
  </table>
</div>
<div class="d-flex justify-content-center">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
  </pagination-controls>
  <div class="mt-3">
    <label>Select no of entries : </label>
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>
</div>



</body>



</html>