<html>
<head>
    <link rel="stylesheet" href="./login.component.css">
    <link rel="icon" type = "image/x-icon" href="../../ariicon.png">
</head>
<body>

    <div class="leftpanel">
        <h1>INTERNAL <br>
        JOB <br>
        PORTAL
        </h1>
    </div>

    <div class="bodysection">
        Welcome to ARi IJP
        <hr>
    
        <button (click)="login()">Login With Office 365</button>
    
       <!-- <img src="src\assets\Microsoft Logo.png" >-->
       <div class="image">

       </div><br>
      <label> &#169;&nbsp;ARi - Integrated Engineering Solutions</label>
    </div>

</body>

</html>
