
.h1
{
  font-weight: 500;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 150px;
  text-align: center;
}
.LeftPanel
{
  margin-top: 21px;
  background-color: #f5f5f5;
  height: 750px;
  width: 330px;
}
.LeftPanelOptions
{
  font-weight: 640;
  text-align: right;
  font-size: 20px;
  padding: 81px 20px 0 20px;
}
.topsection {
  background-color: white;
  height: 32px;
  width: 100%;
  display: flex;
}
.section1{
padding-top: 18px;
width: 89%;
margin-left: 600px;
}
.section2{
padding-top: 18px;
width: 8%;

}
.section3{
  width: 10%;
}
.alignment{
display:flex
}

.BodySection
{
height: 670px;
width:1018px;
background-color:#F5F5F5;
padding: 100px 0 0 0;
margin: 21px 0 0 5px;
}

/* Style the tab */
.tab {
overflow: hidden;
border: none;
background-color:#F5F5F5;
margin-left: 180px;
margin-top: -28px;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float:none;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 13px;
font-weight: 500;
margin-left: 85px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button .active {
background-color:#ddd;
}

/* Style the tab content */
.tabcontent {
padding: 6px 12px;
border:none;
border-top: none;
background-color: #F5F5F5;
}
#table1
{
 border-spacing: 0px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#table1 tr,#table1 th,#table1 td{
text-align:center;
}
#table1 th{
width:9em;
font-size: 15px;
font-weight: 550;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#table1 tr:nth-child(n+1)
{
background-color: white;
}

#table1 tr{
height: 45px;
}

.activeTab {
  color:skyblue;
}

#wrapper{
  display: none;
}
.chat-btn {
  position:fixed;
  right: 14px;
  bottom: 30px;
  cursor: pointer;
}

.chat-btn .close {
  display: none
}

.chat-btn i {
  transition: all 0.9s ease
}

#check:checked~.chat-btn i {
  display: block;
  pointer-events: auto;
  transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
  display: none
}

.chat-btn i {
  font-size: 22px;
  color: #fff !important
}

.chat-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #F69659;
  color: #fff;
  font-size: 22px;
  border: none
}

.wrapper {
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 450px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s
}

#check:checked~.wrapper {
  opacity: 1
}

.header {
  padding: 13px 69px;
  background-color: #F69659;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 2px;
  color: #fff
}

.chat-form {
  padding: 15px
}

.chat-form input,
textarea,
button {
  margin-bottom: 10px
}

.chat-form textarea {
  resize: none
}

.form-control:focus,
.btn:focus {
  box-shadow: none
}


#check {
  display: none !important
}
.userresumebtn {
  border-radius: 2em;
  margin-top: -20%;
  margin-left: 38%; 

}